<p>Read the text below in <emph>full</emph> before answering the questions</p>
<div ng-repeat="task in tasks">
  <pre><strong>{{task.title}}</strong><br>{{task.content}}</pre>
  <div ng-repeat="question in task.questions">
    <h4>{{question.title}}</h4>
      <div ng-repeat="choice in question.choices">
        <button type="button" class="btn btn-default" ng-click="submit({task_id: task.id, question_id: question.id, value: choice.value});">{{$index+1}}</button>
        {{choice.content}}
      </div>
  </div>
</div>